# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node dependencies & logs
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment & credentials (important pentru securitate)
.env
.env.*

# Angular & Build cache
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
cache/
sessions/

# Temporary & backup files
*.tmp
*.cache
*.bak
*.swp

# IDEs & Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code (permite partajarea configurației recomandate de Angular)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# OS / System files
.DS_Store
Thumbs.db