html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
  color: #272829;
}/* You can add global styles to this file, and also import other style files */